body {padding-top:20px;}


/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
  color: #00B7FF;
} */
/* #selec{
width: 25%;
} */





button {
  margin: 25px;
}
